aws_access_key = ""
aws_secret_key = ""
aws_region     = "us-east-1"

project_name = "vps"
environment  = "dev"

ssh_public_key_path  = "/Users/yismaili/.ssh/id_rsa.pub"
ssh_private_key_path = "/Users/yismaili/.ssh/id_rsa"

instance_count = 2        
instance_type  = "t3.small"
instance_names = ["app-test", "app-test-2"]

root_volume_size = 25 

enable_detailed_monitoring     = false
enable_termination_protection  = false


create_vpc    = false  
vpc_ip_range  = "10.0.0.0/16"

install_additional_tools = true
docker_compose_version   = ""
additional_tags          = ["docker", "docker-compose"]
